.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculadora {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px ;
    grid-template-rows: 75px 75px 75px 75px 75px 75px;
    padding: 25px;
   /* border: 1px solid black;*/
    border-radius: 15px;
    background: #624562;
    box-shadow: 15px 15px #641c9c;
}
body{
    background:#641c9c;
}

.display-calculadora {
    grid-column: span 4;
    text-align: right;
    padding: 10px;
    border: 1px solid#070f77;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    margin-bottom: 10px;
    
}
button{
    cursor: pointer;
    margin: 2px;
    border-radius: 3px;
    border: none;
    background: #404be5;
    font-family: digital-7;
    font-size: 25px;
    color: white;
}
.columna-2 {
    grid-column: span 2;
}

button:active{
    background:#020867 ;
}