.container {
    display:  flex;
    justify-content: center;
    align-items: center;
}

body{
    background: #59abe5;
}

p:before {
    content: attr(type);
    display: block;
    margin: 3px;
    font-size: 18px;
    color: #5a5a5a;
}

input{
    width: 270px;
    border: none;
    border-bottom: 2px solid #bebed2;
    background: none;
}

input:focus{
    outline: none;
    border-bottom: 3px solid #6868e6 ;
    
}
h2,
header{
    margin: 10px 2px;
    width: 180 px;
    color: #78788c;
    border-bottom: 3px solid #075b93;
}
header{
    font-size: 35px;
    width: 260px;
}

.formulario{
    border-radius: 10px;
    background: #e6e6e6;
    padding: 30px 25px;
    box-shadow: 10px 10px #397196;
}
button {
    background: #a7cae1;
    padding: 5px;
    font-size: 15px;
    color:#126ca9;
    border-radius: 10px;
    margin-top: 20px;
}
.centra-boton{
    display: flex;
    justify-content: center;
}
#Fecha Nacimiento{
color: black;
}